body {
    background-color: #FBFBF8;
    font-family: Sans-serif;
    padding-bottom: 50px;
    height:100%;
    touch-action: manipulation;
    pointer-events: none;
}

.header {
    position: relative;
    min-height: 92vh;
    background-image: url("../sprites/header_background.png");
    background-color: #D9B573;
    background-size: 100%;
}


.title {
    width: 500px;
    height: 500px;

    text-align:center;
    display: table;

    border-radius: 100px;

    background-color: #3c3030;
    color: #F2F2F2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

.title-text{
    display: table-cell;
    vertical-align: middle;
}

.title-button {
    padding: 25px;
    border-radius: 25px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    user-select: none;
}

.chapter {
    text-align: center;
    width: 100%;
}

.chapter-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-55%);
    -o-transform: translate(-50%, -55%);
    -webkit-transform: translate(-50%,-55%);
    transform: translate(-50%,-55%);
    width: 650px;
}

.credits {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #584646;
    background-size: 100%;
}

.credits-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-55%);
    -o-transform: translate(-50%, -55%);
    -webkit-transform: translate(-50%,-55%);
    transform: translate(-50%,-55%);
    width: 650px;
}

.credits-background {
    width: 100%;
    height: 100%;
    background-color: #584646;
}

.chapter p {
    font-size: 1em;
    text-align: left;
}

.chapter-button {
    font-size: 1em;
    padding: 25px;
    border-radius: 25px;
    border-style: solid;
    border-color:  #3c3030;
    display: inline-block;
    border-width: 4px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

.title-button:hover {
    background-color: #584646;
}

.solve-button {
    font-size: 0.75em;
    padding: 10px;
    border-radius: 25px;
    border-style: solid;
    border-color:  #3c3030;
    border-width: 2px;
    display: inline-block;
    position: absolute;
    left: 25px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

.chapter-button:hover {
    background-color: #584646;
    color: #F2F2F2;
}

.chapter iframe {
    margin-top: 15px;
    margin-bottom: 15px;
    touch-action: manipulation;
    pointer-events: auto;
}

.exploration {
    background-color: #3c3030;
    width: 100%;
    display: table;
}

.fade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}

img {
    width: 100%;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    max-width: 640px;
    max-height: 340px;
    width: auto;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


