.navigation-bar {
    display: table;
    background-color: #3c3030;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    user-select: none;
    font-size: 20px;
    line-height: 30px;
    pointer-events: auto;
}

.navigation-content {
    display: table-cell;
    vertical-align: middle;
}

.slide-selector {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
    color: #FFFFFF;
    border-radius: 40px;
    font-style: none;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.slide-selected {
    display: inline-block;
    width: 100%;
    max-width: 30px;
    background-color: #F2F2F2;
    color: #3C3030;
    height: 30px;
    border-radius: 40px;
    font-style: none;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    user-select: none;
    cursor: pointer;
}

.slide-selector:hover {
    background-color: #584646;
}

.slide-selected:hover {
    background-color: #FFFFFF;
}

.tooltip {
    display: none;
    background-color: black;
    color: #FFFFFF;
    font-size: 0.5em;
    position: absolute;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;

    transition-delay: 0.25s;
    transition: visibility 0s, opacity 0.25s, transform 0.1s ease-in-out;

    white-space: nowrap;
  }
  
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.slide-selector:hover > .tooltip {
    display: inline-block;
    top: -135%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    text-align: center;
    
}